# Xcode
build/
DerivedData/
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Screenshots
screenshots/
